@use '../global/' as g;
.p-user-info {
    border: 2px solid #ccc;
    padding: 1rem;
}

.p-user-info--flex {
    @include g.mq('md') {
        display: flex;
        column-gap: 1rem;
    }
}

.p-user-info__avatar {
    text-align: center;
    margin: auto;
    flex-shrink: 0;
}
.p-user-info__name {
    margin-bottom: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
}